<%#*Here you can change your Picture%>

<%#*<br/>%>
<%#*<!--<#% form_remote_tag :html => { :action => update_picture_users_path,:method => 'post', :multipart => true } do -%>-->%>
<%# form_remote_tag :url => update_picture_users_path(:id=>@user.id), :multipart => true do -%>
  <%#*<!-- <#% form_tag :url => users_path(:id=>@user.id), :method => put, :multipart => true do -%>-->%>
   <%#*<div>%>
     
           <%#*<p>change_picture<br/>%>
           <%#=file_field :user,:picture  %></p>
           <%#= submit_tag 'Change' %>
   <%#*</div>%>
 <%# end -%>

<%#*<!--#'/users/update_picture'-->%>